<!DOCTYPE html>
<html>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script src="{% static '/main.js' %}?version=1"></script>  
    {% include 'navbar.html' %}
    
    <div class="card">
        <h5 class="card-header info-color white-text text-center bg-info text-white py-4">
            <strong>Hello {{name}}! Please place tomorrow's order.</strong>
        </h5>
    </div>
    <form method="post" action="post" id="short-form">
        {% csrf_token %}
        <div class="container">
            <div class="form-group">
                <label for="choice">Choice:</label>
                <select class="custom-select ml-2 ml-sm-0" id="choice" onchange="CalculatePrice()">
                    <option value="Taaza" selected>Taaza</option>
                    <option value="Cow">Cow</option>
                    <option value="Buffalo">Buffalo</option>
                    <option value="Gold">Gold</option>
                    <option value="Buttermilk">Buttermilk</option>
                    <option value="Dahi">Dahi</option>
                </select>
            </div>
            <label for="qty">Quantity:</label>
            <div class="form-group form-inline">
                <button type="button" class="btn btn-light" onclick="AddQuantity()">+</button>
                <div id="qty">0.5</div>
                <button type="button" class="btn btn-light" onclick="SubractQuantity()">-</button>
            </div>
            <div class="form-inline">
            Total Amount: <div id="price" class="textarea">23</div> Rs/-
            </div> 
            <button type="submit" class="btn btn-info btn-lg">Place Order</button>
        </div>
    </form>
    <div class="posts" id="posts"></div>
</html>