<!DOCTYPE html>
<html>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script src="{% static '/main.js' %}?version=1"></script>  

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-toggler">
        <a class="navbar-brand mr-auto">Yogidham Milk Service</a>
        <a class="navbar-nav  mr-auto text-info" href="../milk/">New Order</a>
        <div class="vertical_line"></div>
    </nav>
    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4 bg-info text-white">
            <strong>Hello {{order.first.name}}! Here are your Placed Orders:</strong>
        </h5>
    </div>
    <div class="container">
    <table class="table table-striped">
        <tr>
            <th>Choice</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        {% for a in order %}
        <tr>
            <div class="row listing_data">    
                <td>{{ a.milk_choice }}</td>
                <td>{{ a.quantity }}</td>
                <td>{{ a.price }}</td>
                <td>{{ a.date }}</td>
            </div>  
        </tr>
    {% endfor %}
    </table>
    </div>
    <div><button class="btn btn-info btn-lg" onclick="window.location.href='/milk'">Add New Order</button></div>
</html>